.coba{
  display: flex;
}

.sidebar{
  width: 20%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin: 10px;
}

.right{
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin: 10px;
}

ul{
  float: left;
}